{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "no-nested-ternary": 0,
    "indent": [2, 4, {"SwitchCase": 1}],
    "quotes": [2, "double"],
    "consistent-return": 0,
    "comma-dangle": [2, "never"],
    "no-use-before-define": 0,
    "import/no-unresolved": [2, { "ignore": ["electron"] }],
    "react/jsx-no-bind": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-indent": [2, 4],
    "react/jsx-closing-bracket-location": [2, "after-props"],
    "react/jsx-first-prop-new-line": [2, "never"],
    "react/jsx-indent-props": 0,
    "no-confusing-arrow": 0
  },
  "plugins": [
    "import",
    "react"
  ],
  "settings": {
    "import/resolver": "webpack"
  }
}
